@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.primary-border {
		@apply border border-gray-300/30 dark:border-gray-500/40;
	}
	.primary-border-t {
		@apply border-t border-gray-300/30 dark:border-gray-500/40;
	}

	.gridBox-base {
		@apply h-full rounded-xl bg-gray-50 px-4 py-6 dark:bg-gray-800;
	}
	.gridBox-base-inversed {
		@apply h-full rounded-xl bg-gray-700 px-4 py-6 dark:bg-white;
	}
}

@layer base {
	::selection {
		@apply bg-radix-blue-5 text-gray-50 dark:text-gray-900;
	}
}

* {
	@apply box-border;
}

body {
	font-family: "IBM Plex Sans";
	@apply bg-white text-gray-900 antialiased dark:bg-gray-900 dark:text-white;
}

form {
	margin-block-end: 0;
}

/* This correctly styles the minimal progress bar that is displayed when navigating between pages */
#nprogress {
	@apply pointer-events-none z-50;
}
#nprogress .bar {
	@apply bg-radix-blue-10 fixed top-0 left-0 z-50 h-0.5 w-full;
}
